body {
    font-family: 'Metrophobic';
    padding: 0;
    margin: 0;
    background-color: #000000;
    height: 2160px;
}

/*GLOBAL*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*NAVBAR*/

header {
    background-color: rgba(15, 15, 15, 1);
    box-shadow: 0 15px 20px rgba(177, 5, 55, 0.3);
    color: #ffffff;
    min-height: 20px;
    height: 96px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header li a {
    font-weight: bold;
    font-size: 18px;
}

header li a:hover {
    color: palevioletred;
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    transition: color 0.5s;
}

header #logo {
    float: left;
    max-width: 20%;
    min-height: 96px;
}

header #logo img {
    margin: 0;
    width: 164px;
    padding-top: 20px;
}

header nav {
    float: right;
    padding-top: 35px;
}

/*SECONDARY CLASSES*/

.solid {
    background-color: rgba(15, 15, 15, 0.8);
    box-shadow: 0 15px 20px rgba(177, 5, 55, 0.3);
}

.mobile-hidden {
    display: none;
}

/*BACKGROUND IMAGE*/

#background {
    min-height: 620px;
    background: url(../media/m_herobg-compressor.jpg);
    background-position: bottom;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#overlay {
    margin: 20px 0 0 0;
}

.call-to-action {
    position: relative;
    padding: 16px 0 0 0;
    min-height: 48px;
    display: flex;
}

/*Size: 200 x 72 px*/

#discord {
    position: relative;
    margin-left: auto;
    margin-right: 1%;
    width: 200px;
    min-height: 64px;
    background: url(../media/Discord.png) no-repeat;
    object-fit: contain;
    background-position: center;
}

#discord:hover {
    background: url(../media/Discord-Hover.png) no-repeat;
}

/*Size: 200 x 72 px*/

#patreon {
    position: relative;
    margin-right: auto;
    margin-left: 1%;
    width: 200px;
    min-height: 64px;
    background: url(../media/Patreon.png) no-repeat;
    object-fit: contain;
    background-position: center;
}

#patreon:hover {
    background: url(../media/Patreon-Hover.png) no-repeat;
}

.clickable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    min-height: 64px;
}

/*IMAGES AND DESCRIPTION*/

#boxes {
    margin-top: 64px;
}

/*Intro Heading*/

#boxes .boxes-intro h2 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin: 0 0 64px 0;
}

#boxes .box-left {
    float: left;
    width: 50%;
    height: 335px;
}

/*Images Left*/

#boxes .box-left img {
    max-width: 100%;
    height: 335px;
    padding-right: 10px;
    object-fit: cover;
}

/*Images Right*/

#boxes .box-right img {
    width: 50%;
    height: 335px;
    padding-left: 10px;
    float: right;
    object-fit: cover;
}

/*Description Left*/

.box-left-description {
    max-width: 48%;
    height: 335px;
    float: right;
}

.box-left-description h3 {
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 0 10px 0;
    padding-left: 10px;
}

.box-left-description p {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 10px;
    -webkit-font-smoothing: antialiased;
}

/*Description Right*/

.box-right-description {
    max-width: 48%;
    height: 335px;
    float: left;
}

.box-right-description h3 {
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 0 10px 0;
    padding-right: 10px;
}

.box-right-description p {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-right: 10px;
    -webkit-font-smoothing: antialiased;
}

/*SPACE BETWEEN DIVS*/

.hc_space_cnt {
    padding: 0 0 0 0;
}

.col-md-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}

hr.space.l {
    height: 50px;
}

hr.space {
    border: none !important;
    clear: both;
    height: 70px;
    margin: 0;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
}

@media (max-width: 720px) {
    header {
        height: 64px;
    }
    header ul {
        background-color: rgba(15, 15, 15, 1);
        margin-top: 45px;
        width: 100%;
        height: initial;
        float: none;
        padding-bottom: 10px;
        margin: 10px 0 0 0;
    }
    header ul li {
        float: none;
        display: block;
        width: 100%;
        line-height: 45px;
        text-align: left;
        padding-left: 1em;
    }
    header ul li a {
        display: block;
        width: 90%;
        border-bottom: 1px solid #f9cf87;
    }
    header nav {
        display: none;
    }
    header #logo {
        float: right;
        max-width: 40%;
        min-height: 64px;
        transform: translateY(-24px);
    }
    header #logo img {
        float: right;
        margin: 0;
        width: 96px;
        padding-top: 0px;
        position: relative;
    }
    #m-nav-icon {
        background: url(../media/m-nav-icon.png);
        width: 40px;
        height: 40px;
        transform: translateY(12px);
    }
    #boxes .box-left {
        width: 100%;
        height: auto;
    }
    #boxes .box-right {
        width: 100%;
        height: auto;
    }
    .box-left-description {
        max-width: 100%;
        margin: 30px 0 0 0;
    }
    .box-right-description {
        max-width: 100%;
        margin: 30px 0 0 0;
    }
    #boxes .box-left img {
        max-width: 100%;
        height: auto;
    }
    #boxes .box-right img {
        width: 100%;
        height: auto;
    }
    .call-to-action {
        display: block;
    }
    #discord {
        margin-bottom: 10px;
        margin-right: auto;
    }
    #patreon {
        
        margin-left: auto;
    }
    .col-md-12 {
        display: none;
    }
    hr.space.l {
        display: none;
    }
    hr.space {
        display: none;
    }
    hr {
        display: none;
    }
}