body {
    font-family: 'Metrophobic';
    padding: 0;
    margin: 0;
    background-color: #000000;
    height: 2160px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: rgba(15, 15, 15, 1);
    box-shadow: 0 15px 20px rgba(177, 5, 55, 0.3);
    color: #ffffff;
    min-height: 20px;
    height: 96px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header li a {
    font-weight: bold;
    font-size: 18px;
}

header li a:hover {
    color: palevioletred;
    transition: color 0.5s;
}

header #logo {
    float: left;
    max-width: 20%;
    min-height: 96px;
}

header #logo img {
    margin: 0;
    width: 164px;
    padding-top: 20px;
}

header nav {
    float: right;
    padding-top: 35px;
}

.solid {
    background-color: rgba(15, 15, 15, 0.8);
    box-shadow: 0 15px 20px rgba(177, 5, 55, 0.3);
}

#background {
    min-height: 732px;
    background: url(../media/m_herobg-compressor.jpg);
    background-position: bottom;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#boxes {
    margin-top: 96px;
}

#boxes .boxes-intro h2 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin: 0 0 64px 0;
}

#boxes .box {
    float: left;
    width: 50%;
    height: 335px;
}

#boxes .box img {
    max-width: 100%;
    height: 335px;
    padding-right: 10px;
    object-fit: cover;
}

.box-description {
    max-width: 48%;
    float: right;
}

.box-description h3 {
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 0 10px 0;
    padding-left: 10px;
}

.box-description p {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 10px;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 720px) {
    #boxes .box {
        width: 100%;
        height: auto;
    }

    .box-description {
        max-width: 100%;
        margin: 30px 0 0 0;
    }

    #boxes .box img {
        max-width: 100%;
        height: auto;
    }
}