html {
    overflow-x: hidden;
}

body {
    font-family: Metrophobic;
    background-color: #000;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    overflow: hidden;
    margin: auto;
}

/*=================================================== NAVBAR ===================================================*/

header {
    background-color: rgba(15, 15, 15, 1);
    box-shadow: 0 15px 20px rgba(177, 5, 55, 0.3);
    color: #fff;
    min-height: 20px;
    height: 96px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px;
}

header li a {
    font-weight: 700;
    font-size: 18px;
}

header li a:hover {
    color: #D87093;
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    transition: color .5s;
}

header #logo {
    float: left;
    max-width: 20%;
    min-height: 96px;
}

header #logo img {
    width: 164px;
    padding-top: 20px;
    margin: 0;
}

header nav {
    float: right;
    padding-top: 35px;
}

/*=================================================== SECONDARY CLASSES ===================================================*/

.solid {
    background-color: rgba(15, 15, 15, 0.8);
    box-shadow: 0 15px 20px rgba(177, 5, 55, 0.3);
}

.mobile-hidden {
    display: none;
}

/*====================================================== BACKGROUND ======================================================*/

#background {
    min-height: 620px;
    background: url(../media/m_herobg-compressor.jpg);
    background-position: 47% 100%;
}

#overlay {
    margin: 20px 0 0;
}

/*=================================================== CALL TO ACTION ====================================================*/

.call-to-action {
    position: relative;
    min-height: 48px;
    display: flex;
    padding: 16px 0 0;
}

#wrapper {
    width: 100%;
    max-width: 500px;
    position: absolute;
    padding-top: 550px;
    margin: 0 auto;
}

.attribution {
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0;
}

#discord {
    position: relative;
    margin-left: auto;
    margin-right: 1%;
    width: 200px;
    min-height: 64px;
    background: url(../media/Discord.png) no-repeat;
    object-fit: contain;
    background-position: center;
}

#discord:hover {
    background: url(../media/Discord-Hover.png) no-repeat;
}

#patreon {
    position: relative;
    margin-right: auto;
    margin-left: 1%;
    width: 200px;
    min-height: 64px;
    background: url(../media/Patreon.png) no-repeat;
    object-fit: contain;
    background-position: center;
}

#patreon:hover {
    background: url(../media/Patreon-Hover.png) no-repeat;
}

.clickable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    min-height: 64px;
}

#boxes {
    margin-top: 64px;
}

/*====================================================== FEATURES ======================================================*/

.features h3 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    line-height: 32px;
    font-weight: 400;
    padding-left: 10px;
    margin: 40px 0 0;
}

.features p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 10px;
    -webkit-font-smoothing: antialiased;
    margin: 20px 0;
}

/*=============================================== WELCOME TO THE KINFALLEN ===============================================*/

.game-info-wrapper {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.game-info-heading h3 {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    padding-left: 10px;
    font-weight: 700;
    margin: 30px 0 0;
}

.middle-game-info {
    margin: 110px 0 0;
}

.first-content-wrapper {
    margin-top: 40px;
}

#boxes .box-left {
    float: left;
    width: 50%;
    height: 335px;
}

#boxes .box-left img {
    max-width: 100%;
    height: 335px;
    padding-right: 10px;
    object-fit: cover;
}

#boxes .box-right img {
    width: 50%;
    height: 335px;
    padding-left: 10px;
    float: right;
    object-fit: cover;
}

.box-left-description {
    max-width: 48%;
    height: 335px;
    float: right;
}

.box-left-description h3 {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    padding-left: 10px;
    margin: 0 0 10px;
}

.box-right-description {
    max-width: 48%;
    height: 335px;
    float: left;
}

.box-right-description h3 {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    padding-right: 10px;
    margin: 0 0 10px;
}

.box-right-description p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-right: 10px;
    -webkit-font-smoothing: antialiased;
}

/*=================================================== MADE WITH UNITY ===================================================*/

#lower-background {
    min-height: 540px;
    background: url(../media/kinfallen-forest.png);
    background-position: top left;
    background-size: 200%;
    margin: 40px 0 0;
}

.lower-background-wrapper h2 {
    color: #fff;
    font-size: 32px;
    line-height: 50px;
    font-weight: 400;
    padding-left: 10px;
    text-align: center;
    margin: 128px 0 10px;
}

.lower-background-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    object-fit: contain;
}

/*=================================================== HORIZONTAL SPACE ===================================================*/

.hc_space_cnt {
    padding: 0;
}

.col-md-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}

hr.space.l {
    height: 50px;
}

hr.space {
    border: none!important;
    clear: both;
    height: 70px;
    margin: 0;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
}

/*======================================================= GALLERY =======================================================*/

.gallery {
    position: relative;
    width: 80%;
    margin-left: 13%;
}

.gallery-image-wrapper {
    padding-bottom: 10px;
}

.image-type-first {
    width: 30%;
    border: 2px solid #333;
    object-fit: cover;
    box-sizing: border-box;
    -webkit-transition: .25s;
    transition: .25s;
}

.image-type-second {
    width: 60%;
    border: 2px solid #333;
    object-fit: cover;
    box-sizing: border-box;
    -webkit-transition: .25s;
    transition: .25s;
}

/*======================================================= FOOTER =======================================================*/

footer {
    margin-top: 20px;
    background-color: rgba(15, 15, 15, 1);
    display: flex;
    padding: 0;
}

#brand-logo {
    float: left;
    position: relative;
    width: 112px;
    min-height: 80px;
    background: url(../media/tumultuous-logo.PNG) no-repeat;
    object-fit: contain;
    background-position: center;
}

.footer-text {
    position: relative;
    margin-left: 20%;
}

footer p {
    float: left;
    position: relative;
    width: 80%;
    margin-top: 30px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding: 0;
}

/*====================================================== MEDIA ICONS ======================================================*/

.social-icon-wrapper {
    margin: 550px 0 0;
}

.social-icon {
    position: relative;
    min-height: 48px;
}

#facebook {
    float: right;
    position: relative;
    margin-top: 5px;
    width: 32px;
    min-height: 32px;
    background: url(../media/Facebook.png) no-repeat;
    object-fit: contain;
    background-position: center;
}

#facebook:hover {
    background: url(../media/Facebook-Hover.png) no-repeat;
}

#twitter {
    float: right;
    position: relative;
    margin-top: 5px;
    margin-right: 10px;
    width: 32px;
    min-height: 32px;
    background: url(../media/Twitter.png) no-repeat;
    object-fit: contain;
    background-position: center;
}

#twitter:hover {
    background: url(../media/Twitter-Hover.png) no-repeat;
}

#instagram {
    float: right;
    position: relative;
    margin-top: 5px;
    margin-right: 10px;
    width: 32px;
    min-height: 32px;
    background: url(../media/Instagram.png) no-repeat;
    object-fit: contain;
    background-position: center;
}

#instagram:hover {
    background: url(../media/Instagram-Hover.png) no-repeat;
}

#itch-io {
    float: right;
    position: relative;
    margin-top: 5px;
    margin-right: 10px;
    width: 32px;
    min-height: 32px;
    background: url(../media/itch.io.png) no-repeat;
    object-fit: contain;
    background-position: center;
}

#itch-io:hover {
    background: url(../media/itch.io-Hover.png) no-repeat;
}

#about-background {
    min-height: 620px;
    background: url(../media/yami-concept.png) no-repeat;
    background-position: center;
}

#body-text {
    margin-top: 32px;
}

/*======================================================= ABOUT PAGE =======================================================*/

.who-are-we h2 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin: 0 0 48px;
}

.who-are-we p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.what-is-yami-wrapper {
    display: flex;
}

.what-is-yami-text p {
    float: left;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin: 0 10px 0 0;
}

#yami-para p {
    float: right;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0 0 0 10px;
}

.meet-the-team-text {
    display: inline-block;
}

.leads ul {
    color: #fff;
    padding-inline-start: 0;
    list-style-type: none;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    font-weight: 300;
    margin: 12px 0 48px;
}

.artists {
    float: left;
    position: relative;
    margin-left: 25%;
}

.artists ul {
    color: #fff;
    padding-inline-start: 0;
    list-style-type: none;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    font-weight: 300;
    margin: 12px 10px 48px 0;
}

.assistant-leads {
    position: relative;
    float: left;
    margin-left: 20%;
}

.composers {
    position: relative;
    float: left;
    margin-right: 15%;
}

.writers {
    position: relative;
    float: left;
    margin-right: 5%;
    margin-left: 10%;
}

.video-editors {
    position: relative;
    float: right;
    margin-left: 15%;
    margin-right: 2%;
}

.social-media-managers {
    position: relative;
    float: left;
    margin-right: 15%;
    margin-left: 2%;
}

.level-designers {
    position: relative;
    float: left;
    margin-right: 5%;
    margin-left: 7%;
}

.web-developers {
    position: relative;
    float: right;
    margin-left: 8%;
}

.testers {
    float: left;
    padding-right: 42px;
}

/*======================================================= DEVLOGS =======================================================*/

#dev-logs-background {
    min-height: 96px;
    background: url(../media/m_herobg-compressor.jpg);
    background-position: 47% 100%;
}

#dev-logs {
    box-sizing: border-box;
    padding: 64px 0 0;
}

#dev-logs .post.p_link .link a {
    display: block;
    font-size: 2em;
    text-decoration: none;
    text-decoration-color: initial;
    color: #f92672;
}

#dev-logs .post {
    width: 700px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 0 16px rgba(74, 193, 227, .48);
    overflow: hidden;
    border: 1px solid #ae81ff;
    box-sizing: border-box;
    margin: 0 auto 50px;
    padding: 20px;
}

#dev-logs .post.p_link .link {
    background-color: rgba(164, 2, 57, .1);
    border-bottom: 1px solid rgba(164, 2, 57, .3);
    box-sizing: border-box;
    color: #66d9ef;
    margin: -20px -20px 16px;
    padding: 20px;
}

.inner-content-wrapper {
    width: 100%;
    margin: auto;
}

.inner-content-wrapper #date {
    text-align: center;
}

.inner-content-wrapper #yami-ui-logo {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.image-content-wrapper {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.inner-content-wrapper #forgotten-defender1 {
    width: 51%;
    margin-left: auto;
    margin-right: auto;
}

.inner-content-wrapper #forgotten-defender2 {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.inner-content-wrapper #shrubble {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.inner-content-wrapper .image-caption {
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.inner-content-wrapper h1 {
    color: #fff;
    text-align: center;
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

.inner-content-wrapper h2 {
    color: #fff;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

.inner-content-wrapper h3 {
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

.inner-content-wrapper p {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.inner-content-wrapper a {
    color: #66d9ef;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.inner-content-wrapper .question {
    color: #ae81ff;
}

.inner-content-wrapper .starred {
    color: #a6e22e;
}

.attribution a, .inner-content-wrapper ul {
    color: #fff;
}

#boxes .boxes-intro h2, .gallery-wrapper h1 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin: 0 0 32px;
}

.first-info-wrapper, .middle-info-wrapper, .last-info-wrapper {
    display: inline-block;
    position: relative;
    width: 330px;
    margin: 0;
}

.game-info-text p, .box-left-description p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 10px;
    -webkit-font-smoothing: antialiased;
}

.first-game-info, .last-game-info {
    margin: 20px;
}

.image-type-first:hover, .image-type-second:hover {
    transform: scale(1.05);
    z-index: 5;
}

/*======================================================= ABOUT PAGE =======================================================*/

.what-is-yami h2, .meet-the-team h2 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin: 64px 0 48px;
}

.leads h3, .artists h3, .programmers h3, .assistant-leads h3, .level-testers h3, .composers h3, .writers h3, .video-editors h3, .social-media-managers h3, .level-designers h3, .web-developers h3 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    font-weight: 300;
    margin: 64px 0 32px;
}

.programmers, .level-testers {
    position: relative;
    float: right;
    margin-right: 25%;
}

.programmers ul, .assistant-leads ul, .level-testers ul, .composers ul, .writers ul, .video-editors ul, .social-media-managers ul, .level-designers ul, .web-developers ul {
    color: #fff;
    padding-inline-start: 0;
    list-style-type: none;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    font-weight: 300;
    margin: 12px 0 48px 10px;
}

/*=================================================== DEVLOGS IMAGES ===================================================*/

#dev-logs .post-title .excerpt, .inner-content-wrapper .answer {
    color: #66d9ef;
}

.inner-content-wrapper #yuki-yuyo, .inner-content-wrapper #lingering-nomad {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.inner-content-wrapper #celestial-bodies1, .inner-content-wrapper #celestial-bodies2 {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
}

.inner-content-wrapper #save-load, .inner-content-wrapper #brothers-logo {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.inner-content-wrapper #tresswing1, .inner-content-wrapper #tresswing2 {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.inner-content-wrapper #scavenger, .inner-content-wrapper #uprooter {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------------------------------------------------------
                                                        MOBILE
--------------------------------------------------------------------------------------------------------------*/

@media (max-width: 720px) {
    header {
        height: 64px;
    }
    header ul {
        background-color: rgba(15, 15, 15, 1);
        width: 100%;
        height: initial;
        float: none;
        padding-bottom: 10px;
        margin: 10px 0 0;
    }
    header ul li {
        float: none;
        display: block;
        width: 100%;
        line-height: 45px;
        text-align: left;
        padding-left: 1em;
    }
    header ul li a {
        display: block;
        width: 90%;
        border-bottom: 1px solid #f9cf87;
    }
    header #logo {
        float: right;
        max-width: 40%;
        min-height: 64px;
        transform: translateY(-24px);
    }
    header #logo img {
        float: right;
        width: 96px;
        padding-top: 0;
        position: relative;
        margin: 0;
    }
    #m-nav-icon {
        background: url(../media/m-nav-icon.png);
        width: 40px;
        height: 40px;
        transform: translateY(12px);
    }
    #background {
        background-position: 49% 100%;
    }
    #boxes .box-left img {
        max-width: 100%;
        height: auto;
    }
    .lower-background-wrapper h2 {
        font-size: 24px;
    }
    .lower-background-wrapper img {
        width: 70%;
    }
    .gallery {
        width: 100%;
        margin-left: 4%;
    }
    .footer-text {
        margin-left: 0;
    }
    .social-icon {
        width: 178px;
        max-height: 64px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
    }
    #facebook {
        display: inline-block;
        float: none;
        margin: 0!important;
    }
    #discord {
        margin-bottom: 10px;
        margin-right: auto;
    }
    #patreon {
        margin-left: auto;
    }
    header nav, .social-icon-wrapper, .col-md-12, hr.space.l, hr.space, hr {
        display: none;
    }
    .first-info-wrapper, .middle-info-wrapper, .last-info-wrapper {
        width: 100%;
    }
    .first-game-info, .middle-game-info, .last-game-info {
        margin: 0;
    }
    .first-game-info img, .middle-game-info img, .last-game-info img {
        width: 100%;
        margin-left: 10px;
    }
    #boxes .box-left, #boxes .box-right, #boxes .box-right img {
        width: 100%;
        height: auto;
    }
    .box-left-description, .box-right-description {
        max-width: 100%;
        margin: 30px 0 0;
    }
    footer, .call-to-action {
        display: block;
    }
    #brand-logo, footer p {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #twitter, #instagram, #itch-io {
        display: inline-block;
        float: none;
        padding-left: 20px;
        margin: 0!important;
    }
}

/*--------------------------------------------------------------------------------------------------------------
                                                MEDIA ICONS DESKTOP
--------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1260px) and (min-width: 721px) {
    #instagram, #itch-io {
        display: none;
    }
}

/*--------------------------------------------------------------------------------------------------------------
                                                    ABOUT MOBILE
--------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1320px) {
    .meet-the-team-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .artists, .programmers, .assistant-leads, .level-testers, .composers, .writers, .video-editors, .social-media-managers, .level-designers, .web-developers {
        float: none;
        margin: 0;
    }
    .artists ul, .programmers ul {
        margin: 12px 0 48px;
    }
}